@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
margin: 0%;
font-family: 'Montserrat', sans-serif;

}
.main-login{ 
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex; /* colocando lado a lado*/
    justify-content: center; /*centraliza as coisa, eixo x*/
    align-items: center; /*centraliza as coisa, eixo y*/
}

.left-login{
    width: 50vw;
    height: 50vh;
    display: flex; /* colocando lado a lado*/
    justify-content: center; /*centraliza as coisa, eixo x*/
    align-items: center; /*centraliza as coisa, eixo y*/
    flex-direction: column;/*altera a função do display dentro dessa div*/

}
.left-login > h1{
    /* o > serve para chamar os elementos */
    color: #00f880;
    font-size: 3vw;
}
.left-login-image{
    width: 35vw;
    
} 
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex; /* colocando lado a lado*/
    justify-content: center; /*centraliza as coisa, eixo x*/
    align-items: center; /*centraliza as coisa, eixo y*/
}

.card-login{
    width: 50%; /*50% da vh lá do right login */
    display: flex; /* colocando lado a lado*/
    justify-content: center; /*centraliza as coisa, eixo x*/
    align-items: center; /*centraliza as coisa, eixo y*/
    flex-direction: column;
    padding: 50px 35px ; /* primeiro valor eixo y, segundo eixo x*/
    background: #2f2841;
    border-radius: 20px;
    /* primeiro valor eixo x, segundo eixo y, blur e cor */
    box-shadow: 0px 10px 40px #00000056;
  
}
.card-login > h1{
    color: #00f880;
    font-weight: 800;/*grossura da fonte*/
    margin: 0;
}
.textfield{
    display: flex;
    flex-direction: column;/* ele inverte o contente e o aling lá*/
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}
.btn-login{
    width: 100%;
    padding: 15px 0px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00f880;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
   

}
@media only screen and(max-with: 950px) {
    .card-login{
        width: 85%;
    }
}

@media only screen and(max-with: 600px) {
    .main-login{
        flex-direction: column;
    }
    .left-login{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 60%;
        
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



